body{
  color: #fff;
  background-color: #222;
}

#contents{
  width:100%;
  height:200px;
  padding-bottom:10px;
}

#chatLogDiv{
  float: left;
  width: 90%;
  height: 100%;
  padding-right: 10px;
}

#userListDiv{
  height:102%;
  overflow: auto;
  border: solid 1px maroon;
}

#userList{
  list-style-type: none;
}

header{
  background-color: #8f8;
  color: #222;
}

#inputText, #chatLog{
  border: solid 1px maroon;
  width: 100%;
}

#chatLog{
  height: 200px;
}

.blocked{
  text-decoration: line-through;
}
